/*div.container {
  max-width: 1000px;
  margin: 30px auto;
  text-align: center;
}
*/
section.filters {
  background-color: white;
  height: 70px;
  width: 100%
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  position: relative;:wq

  display: flex;
}
section.filters button {
  font-size: 18px;
  background-color: #FF5A5F;
  text-color: #FFFFFF;
  height: 48px;
  width: 20%;
  border: 0px;
  border-radius: 4px;
  float: right;
  margin: 15px 30px;
  position: absolute;
}
section.filters button:hover {
  opacity: 90%;
}
